{% extends 'index.html' %}
{% load static %}
{% block contenido %}
    <h1 class="alert alert-secondary text-center mt-3">{{ titulo }}</h1>
    <h2>hola de nuevo esto es contenido {{titulo}}</h2>
    <form method="post"  enctype="multipart/form-data">
        <!-- csrf token permite que los datos sólo sean enviados por áca  -->
        {% csrf_token %}
        <!-- form carga todo el formulario traido desde view -->
        {{ form }}
        <div class="mt-3 text-center">
            <input type="reset" class="btn btn-outline-info w-25" value="Limpiar">
            <input type="submit" class="btn btn-success w-25" value="Guardar">
        </div>
    </form>
    <a href="{% url 'inicio' %}" class="btn btn-outline-dark">Volver</a>

{% endblock contenido %}
    