{% extends 'index.html' %}
{% block contenido %}

{% if messages %}
    
    {% for msj in messages %}
        <script>
            Swal.fire('{{ msj }}','','success').then(()=>{
                window.location.href = '{{ ruta }}'
            })
        </script>
    {% endfor %}
        
{% endif %}

<h2 class="alert alert-dark text-center mt-3">{{ titulo }}</h2>
<div class="mt-3 text-end mb-3">
    <a href="{% url 'crearjuego' %}" class="btn btn-success">Añadir juegos</a>
</div>

<form method="post">
    {% csrf_token %}
    <div class="input-group mt-3 mb-3">
        <label class="input-group-text">texto</label>
        {{ form.texto }}
        <label class="input-group-text">esrb</label>
        {{form.esrb}}
        <label class="input-group-text">desarrolladora</label>
        {{form.desarrolladora}}
        <label class="input-group-text">editora</label>
        {{form.editora}}
        <label class="input-group-text">genero</label>
        {{form.genero}}
        <label class="input-group-text">plataforma</label>
        {{form.plataforma}}
        <label class="input-group-text">reseñas</label>
        {{form.resenas}}
        <input type="submit" value="Buscar" class="btn btn-outline-success">
    </div>
</form>



{% if juego %}
    <div class="mt-3 mb-3">
        <button onclick="exportar()" class="btn btn-outline-success">
        <i class="bi bi-file-earmark-excel-fill"></i>Exportar a excel</button>
    </div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <th>Título</th>
            <th>Fecha Lanzamiento</th>
            <th>Precio</th>
            <th>Plataforma</th>
            <th>Desarrolladora</th>
            <th>Editora</th>
            <th>ESRB</th>
            <th>Género</th>
            <th>Portada</th>
            <th></th>
            </tr>
        </thead>
        <tbody>        
            {% for j in juego %}
                <tr>
                    <td>{{ j.titulo }}</td>
                    <td>{{ j.fecha_lanzamiento }}</td>
                    <td>${{ j.precio }}</td>
                    <td>{{ j.plataforma }}</td>
                    <td>{{ j.desarrolladora }}</td>
                    <td>{{ j.editora }}</td>
                    <td>{{ j.esrb }}</td>
                    <td>{{ j.genero }}</td>
                    <td>
                        {% if j.portada %}
                        <img src="/media/{{ j.portada }}" alt="{{ j.portada}}" width="150px">
                        {% endif %}
                    </td>
                    <td class="col-2 text-center">
                        <a href="{% url 'editar_titulo' j.id %}" class="btn btn-warning">Editar</a>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}            
        </tbody>
    </table>
</div>
<script>
    const exportar = () => {
        const texto = document.getElementById('id_texto').value || '0'
        const esrb = document.getElementById('id_esrb').value || 0
        const desarrolladora = document.getElementById('id_desarrolladora').value || 0
        const editora = document.getElementById('id_editora').value || 0
        const genero = document.getElementById('id_genero').value || 0
        const plataforma = document.getElementById('id_plataforma').value || 0
        const resenas = document.getElementById('id_resenas').value || 0
        open(`/src/juegosexcel/${texto}/${esrb}/${desarrolladora}/${editora}/${genero}/${plataforma}/${resenas}`,'_self')

    }
</script>

    {% else %}
    <p class="alert alert-warning">No hay clasificacion registrada</p>
    {% endif %}
    <a href="{% url 'inicio' %}" class="btn btn-outline-dark">Volver</a>
{% endblock %}