{% extends 'index.html' %}
{% block contenido %}

{% if messages %}
    
    {% for msj in messages %}
        <script>
            Swal.fire('{{ msj }}','','success').then(()=>{
                window.location.href = '{{ ruta }}'
            })
        </script>
    {% endfor %}
        
{% endif %}

<h2 class="alert alert-dark text-center mt-3">{{ titulo }}</h2>
<div class="mt-3 text-end mb-3">
    <a href="{% url 'crearplataforma' %}" class="btn btn-success">Añadir Plataforma</a>
</div>
{% if plataforma %}
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Director</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>logo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>        
        {% for pl in plataforma %}
            <tr>
                <td>{{ pl.director }}</td>
                <td>{{ pl.nombre }}</td>
                <td>{{ pl.descripcion }} </td>
                <td>
                    {% if pl.logo %}
                    <img src="/media/{{ pl.logo }}" alt="{{ pl.logo}}" width="150px">
                    {% endif %}
                </td>
                <td class="col-2 text-center">
                    <a href="{% url 'editar_plataforma' pl.id %}" class="btn btn-warning">Editar</a>
                    <button onclick="eliminar('{{pl.id}}')" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        {% endfor %}            
    </tbody>
</table>
<nav aria-label="Navegación de plataformas">
    <ul class="pagination justify-content-center">
        {% if plataforma.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ plataforma.previous_page_number }}">Anterior</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Anterior</a>
        </li>
        {% endif %} 
        {% for num in plataforma.paginator.page_range %} 
        {% if plataforma.number == num %} 
        <li class="page-item active">
            <a class="page-link">{{ num }}</a>
        </li>
        {% elif num > plataforma.number|add:'-3' and num < plataforma.number|add:'3' %}
        <li class="page-item ">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %} 
        {% endfor %}
        
        {% if plataforma.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ plataforma.next_page_number }}">Siguiente</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">Siguiente</a>
        </li>
        {% endif %}
    </ul>
</nav>

<script>
        const eliminar = (id) => {
        Swal.fire({
            title: "¿Estás seguro de eliminar registro?",
            text: "No podrás revertir los cambios",
            icon: "error",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Eliminar"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/src/plataformas/eliminar/' + id
            }
        });
    }
</script>
{% else %}
<p class="alert alert-warning">No hay plataformas registradas</p>
{% endif %}
<a href="{% url 'inicio' %}" class="btn btn-outline-dark">Volver</a>
{% endblock %}