{% extends 'index.html' %}
{% block contenido %}

{% if messages %}
    
    {% for msj in messages %}
        <script>
            Swal.fire('{{ msj }}','','success').then(()=>{
                window.location.href = '{{ ruta }}'
            })
        </script>
    {% endfor %}
        
{% endif %}

<h2 class="alert alert-dark text-center mt-3">{{ titulo }}</h2>
<div class="mt-3 text-end mb-3">
    <a href="{% url 'crearplataforma' %}" class="btn btn-success">Añadir Plataforma</a>
</div>
{% if plataforma %}
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Director</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>logo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>        
        {% for pl in plataforma %}
            <tr>
                <td>{{ pl.director }}</td>
                <td>{{ pl.nombre }}</td>
                <td>{{ pl.descripcion }} </td>
                <td>
                    {% if pl.logo %}
                    <img src="/media/{{ pl.logo }}" alt="{{ pl.logo}}" width="150px">
                    {% endif %}
                </td>
                <td class="col-2 text-center">
                    <a href="{% url 'editar_plataforma' pl.id_plataforma %}" class="btn btn-warning">Editar</a>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        {% endfor %}            
    </tbody>
</table>
{% else %}
<p class="alert alert-warning">No hay plataformas registradas</p>
{% endif %}
<a href="{% url 'inicio' %}" class="btn btn-outline-dark">Volver</a>
{% endblock %}